<form form="ngForm" nz-form (submit)="onFormSubmit()" nzLayout="vertical">
    <h4 class="title">بازنشانی کلمه عبور</h4>
    <p class="secondary">
        لطفا کلمه عبور جدید خود را وارد کنید.
    </p>

    <nz-form-item>
        <nz-form-control nzErrorTip="نامعتبر">
            <nz-form-label nzFor="password" nzRequired=true>کلمه عبور</nz-form-label>
            <nz-input-group>
                <input id="password" name="password" type="password" nz-input [(ngModel)]="password"
                       autocomplete="new-password" minlength="5" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control nzErrorTip="نامعتبر">
            <nz-form-label nzFor="password-confirm" nzRequired=true>تکرار کلمه عبور</nz-form-label>
            <nz-input-group>
                <input id="password-confirm" name="passwordConfirm" type="password" nz-input
                       [(ngModel)]="passwordConfirm"/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>


    <button type="submit" nz-button nzType="primary" nzBlock=true>تایید</button>
</form>


<a [routerLink]="['..', 'signin']" class="return-link">بازگشت به صفحه ورود</a>
