<form nz-form (submit)="onFormSubmit()" nzLayout="vertical" #forgetPassForm="ngForm">
  <h4 class="title">بازنشانی کلمه عبور</h4>
  <p>لطفا نام کاربری خود را وارد نمایید، یک کد تائید برای شما پیامک خواهد شد.</p>
  <nz-form-item>
    <nz-form-label nzFor="userName" nzRequired>نام کاربری</nz-form-label>
    <nz-form-control nzErrorTip="نامعتبر">
      <nz-input-group [nzSuffix]="suffix">
        <input id="userName" style="text-align: right; direction: ltr" name="userName" type="text" nz-input [(ngModel)]="userName" [pattern]="regex" maxlength="30"
               required />
        <ng-template #suffix>
          <i-feather name="user"></i-feather>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="captcha" nzRequired=true>کد امنیتی</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzAddOnAfter]="captchaSuffix">
        <input id="captcha" name="captcha" type="text" nz-input rbcInput [(ngModel)]="captcha.value" required
               maxlength="4" [rbcExactLength]="4"
               tabindex="3">
        <ng-template #captchaSuffix>
          <img [src]="captchaImg" alt="">
          <button nz-button nzType="text" (click)="reloadCaptcha()" type="button" nz-tooltip="بارگذاری مجدد"
                  style="padding-left: 0;">
            <i-feather name="refresh-cw"></i-feather>
          </button>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button type="submit" nz-button nzType="primary" nzBlock=true [disabled]="forgetPassForm.invalid">ارسال پیامک کد
    تائید</button>
</form>

<div class="signup">
  <p>
    <a [routerLink]="['..', 'signin']">بازگشت به صفحه ورود</a>
  </p>
</div>
