<div class="main">
  <div id="logo">
    <img src="assets/img/access/seo-logo.png" alt="seo">
    <h4>سازمان بورس اوراق بهادار</h4>
    <h4>Securities & Exchange Organization</h4>
  </div>
  <div id="login">
    <h3>{{title}}</h3>
    <form>
      <div class="divInput">
        <input type="text" placeholder="نام کاربری">
      </div>
      <div class="divInput">
        <input type="text" placeholder="رمز ورود">
      </div>
      <div class="divInput">
        <input type="text" placeholder="کد امنیتی">
      </div>
      <div class="divInput">
        <input id="remember" name="remember" type="checkbox" checked>
        <label for="remember">من را به خاطر بسپار</label>
      </div>
      <button type="submit">ورود به سیستم</button>
      <a>رمز ورود خود را فراموش کرده اید؟</a>
    </form>
  </div>
</div>
