<form form="ngForm" nz-form (submit)="onFormSubmit()" nzLayout="vertical">
  <h4 class="title">تغییر کلمه عبور</h4>
  <p>کلمه عبور باید شامل حداقل یک حرف کوچک و بزرگ انگلیسی، شامل حداقل یک نماد خاص و حداقل 8 کارکتر باشد.</p>
  <nz-form-item>
    <nz-form-control nzErrorTip="نامعتبر">
        <nz-form-label nzFor="verificationCode" nzRequired=true>کد رهگیری</nz-form-label>
        <nz-input-group>
            <input id="verificationCode" name="verificationCode" type="text" nz-input [(ngModel)]="forgetPasswordDto.referralCode" maxlength="5" [rbcExactLength]="5"/>
        </nz-input-group>
    </nz-form-control>
</nz-form-item>

  <nz-form-item>
      <nz-form-control >
          <nz-form-label nzFor="currentPassword" nzRequired=true>کلمه عبور جدید</nz-form-label>
          <nz-input-group>
              <input id="currentPassword" name="currentPassword" maxlength="30" type="password" nz-input [(ngModel)]="forgetPasswordDto.newPassword"
                     rbcInput minlength="8"/>
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-control >
          <nz-form-label nzFor="password-confirm" nzRequired=true>تکرار کلمه عبور جدید</nz-form-label>
          <nz-input-group>
              <input id="newPassword" name="newPassword" maxlength="30" type="password" nz-input rbcInput minlength="8"
              [(ngModel)]="repetitionCode" [rbcEqualWith]="forgetPasswordDto.newPassword" inequalityMessage="تکرار کلمه عبور اشتباه است"/>
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="captcha" nzRequired=true>کد امنیتی</nz-form-label>
    <nz-form-control>
      <nz-input-group [nzAddOnAfter]="captchaSuffix">
        <input id="captcha" name="captcha" type="text" nz-input rbcInput [(ngModel)]="captcha.value" required
               maxlength="4" [rbcExactLength]="4"
               tabindex="3">
        <ng-template #captchaSuffix>
          <img [src]="captchaImg" alt="">
          <button nz-button nzType="text" (click)="reloadCaptcha()" type="button" nz-tooltip="بارگذاری مجدد"
                  style="padding-left: 0;">
            <i-feather name="refresh-cw"></i-feather>
          </button>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button type="submit" nz-button nzType="primary" nzBlock=true>تایید</button>
</form>

<div class="back">
  <a [routerLink]="['..', 'signin']" class="return-link">بازگشت به صفحه ورود</a>
</div>
