<ng-container>
  <form form="ngForm" nz-form (submit)="onFormSubmit()" nzLayout="vertical">
    <h4 class="title">تغییر کلمه عبور</h4>
    <nz-form-item>
      <nz-form-control nzErrorTip="نامعتبر">
        <nz-form-label nzFor="verificationCode" nzRequired=true>کد رهگیری</nz-form-label>
        <nz-input-group>
          <input id="verificationCode" name="verificationCode" type="text" nz-input [(ngModel)]="passwordDto.verificationCode" [rbcExactLength]="5" maxlength="5"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="نامعتبر">
        <nz-form-label nzFor="currentPassword" nzRequired=true>کلمه عبور جدید</nz-form-label>
        <nz-input-group>
          <input id="currentPassword" name="currentPassword" maxlength="30" type="password" nz-input [(ngModel)]="passwordDto.newPassword"
                 minlength="5"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control >
        <nz-form-label nzFor="password-confirm" nzRequired=true>تکرار کلمه عبور جدید</nz-form-label>
        <nz-input-group>
          <input id="newPassword" name="newPassword" type="password" nz-input minlength="5"
                 [(ngModel)]="repetitionCode" maxlength="30" [rbcEqualWith]="passwordDto.newPassword" inequalityMessage="تکرار کلمه عبور اشتباه است"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <button type="submit" nz-button nzType="primary" nzBlock=true>تایید</button>
  </form>
</ng-container>

<div class="back">
  <a [routerLink]="['..', 'signin']" class="return-link">بازگشت به صفحه ورود</a>
</div>
