<form nz-form (submit)="onFormSubmit()" nzLayout="vertical" #verifyResetPassForm="ngForm">
  <h4 class="title">ورود کد تائید</h4>
  <p>لطفا کد تائید پیامک شده را وارد نمائید.</p>
  <nz-form-item>
      <nz-form-label nzFor="verifyCode" nzRequired=true>کد تائید</nz-form-label>
      <nz-form-control nzErrorTip="لطفا کد تائید خود را به درستی وارد کنید.">
          <nz-input-group>
              <input id="verifyCode" maxlength="5" rbcOnlyNumber rbcInput name="verifyCode" type="text"  nz-input [(ngModel)]="resetPassReq.referralCode" required />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>
   <button type="submit" nz-button nzType="primary" nzBlock=true [disabled]="verifyResetPassForm.invalid">ارسال کد تائید</button>
</form>
<div class="signup">
  <p>
      <a [routerLink]="['..', 'signin']">بازگشت به صفحه ورود</a>
  </p>
</div>
